In [8]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime

In [ ]:
#Setup Faker v√† seed random (ƒë·ªÉ t√°i t·∫°o k·∫øt qu·∫£):
fake = Faker()
np.random.seed(42)
random.seed(42)

In [14]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime

fake = Faker()
np.random.seed(42)
random.seed(42)

# S·ªë l∆∞·ª£ng ƒë∆°n h√†ng
num_orders = 1200

# ƒê·ªãnh nghƒ©a ng√†y b·∫Øt ƒë·∫ßu v√† k·∫øt th√∫c
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 3, 31)

# T·∫°o OrderID, OrderDate, CustomerID
order_ids = [f'ORD{1200 + i}' for i in range(num_orders)]
order_dates = [fake.date_between(start_date=start_date, end_date=end_date) for _ in range(num_orders)]
customer_ids = [f'CUST{random.randint(1, 300)}' for _ in range(num_orders)]

# Product options
products = [
    'Ristretto', 'Arpeggio', 'Roma', 'Kazaar', 'Livanto', 'Capriccio',
    'Volluto', 'Cosi', 'Volluto Decaffeinato', 'Paris Espresso', 
    'Istanbul Espresso', 'Rio de Janeiro Espresso', 'Buenos Aires Lungo', 
    'Shanghai Lungo', 'Vienna Lungo', 'Tokyo Lungo', 'Stockholm Lungo', 
    'Cape Town Lungo', 'Scuro', 'Chiaro', 'Corto', 'Ethiopia', 'Nicaragua', 
    'Colombia', 'Peru Organic', 'Indonesia', 'India', 'Vaniglia', 
    'Cioccolatino', 'Caramello', 'Nocciola', 'Essenza Mini Red', 'Essenza Mini Black',
    'Essenza Mini White', 'Inissia Black', 'Inissia Red', 'Pixie Titan', 'Pixie Red',
    'Lattissima One White', 'Lattissima One Black', 'Gran Lattissima White', 'Gran Lattissima Black',
    'Aeroccino 3', 'Aeroccino 4'
]

# Categories
categories = {
    # Espresso
    'Volluto Decaffeinato': 'Espresso',
    'Volluto': 'Espresso',
    'Cosi': 'Espresso',
    'Capriccio': 'Espresso',

    # Master Origin
    'Ethiopia': 'Master Origin',
    'Nicaragua': 'Master Origin',
    'Colombia': 'Master Origin',
    'Peru Organic': 'Master Origin',
    'Indonesia': 'Master Origin',
    'India': 'Master Origin',

    # World Explorations
    'Buenos Aires Lungo': 'World Explorations',
    'Shanghai Lungo': 'World Explorations',
    'Vienna Lungo': 'World Explorations',
    'Tokyo Lungo': 'World Explorations',
    'Stockholm Lungo': 'World Explorations',
    'Cape Town Lungo': 'World Explorations',
    'Paris Espresso': 'World Explorations',
    'Istanbul Espresso': 'World Explorations',
    'Rio de Janeiro Espresso': 'World Explorations',

    # Barista Creations
    'Scuro': 'Barista Creations',
    'Chiaro': 'Barista Creations',
    'Corto': 'Barista Creations',
    'Vaniglia': 'Barista Creations',
    'Cioccolatino': 'Barista Creations',
    'Caramello': 'Barista Creations',
    'Nocciola': 'Barista Creations',

    # Coffee Machine
    'Essenza Mini Red': 'Coffee Machine',
    'Essenza Mini Black': 'Coffee Machine',
    'Essenza Mini White': 'Coffee Machine',
    'Inissia Black': 'Coffee Machine',
    'Inissia Red': 'Coffee Machine',
    'Pixie Titan': 'Coffee Machine',
    'Pixie Red': 'Coffee Machine',
    'Lattissima One White': 'Coffee Machine',
    'Lattissima One Black': 'Coffee Machine',
    'Gran Lattissima White': 'Coffee Machine',
    'Gran Lattissima Black': 'Coffee Machine',
    'Aeroccino 3': 'Coffee Machine',
    'Aeroccino 4': 'Coffee Machine'
}

# Prices
prices = {
    'Ristretto': 18000,
    'Arpeggio': 18000,
    'Roma': 18000,
    'Kazaar': 18000,
    'Livanto': 18000,
    'Capriccio': 18000,
    'Volluto': 18000,
    'Cosi': 18000,

    'Volluto Decaffeinato': 19500,
    'Paris Espresso': 19500,
    'Istanbul Espresso': 19500,
    'Rio de Janeiro Espresso': 19500,

    'Buenos Aires Lungo': 20300,
    'Shanghai Lungo': 20300,
    'Vienna Lungo': 20300,
    'Tokyo Lungo': 20300,
    'Stockholm Lungo': 20300,
    'Cape Town Lungo': 20300,
    'Scuro': 20300,
    'Chiaro': 20300,
    'Corto': 20300,

    'Ethiopia': 21000,
    'Nicaragua': 21000,
    'Colombia': 21000,
    'Peru Organic': 21000,
    'Indonesia': 21000,
    'India': 21000,

    'Vaniglia': 21500,
    'Cioccolatino': 21500,
    'Caramello': 21500,
    'Nocciola': 21500,

    'Essenza Mini Red': 4000000,
    'Essenza Mini Black': 4000000,
    'Essenza Mini White': 4000000,
    'Inissia Black': 4600000,
    'Inissia Red': 4600000,
    'Pixie Titan': 6500000,
    'Pixie Red': 6500000,
    'Lattissima One White': 12500000,
    'Lattissima One Black': 12500000,
    'Gran Lattissima White': 17500000,
    'Gran Lattissima Black': 17500000,
    'Aeroccino 3': 2600000,
    'Aeroccino 4': 3400000
}

# Random Product, Category, Price, Quantity
product_names = [random.choice(products) for _ in range(num_orders)]
categories_list = [categories.get(p, 'Unknown') for p in product_names]
unit_prices = [prices[p] for p in product_names]
quantities = [random.randint(1, 5) for _ in range(num_orders)]

# Revenue
revenues = [u*q for u, q in zip(unit_prices, quantities)]

# Store (ch·ªâ 2 chi nh√°nh ·ªü TP.HCM)
stores = [random.choice(['Estella', 'Thao Dien']) for _ in range(num_orders)]

# Payment methods (ch·ªâ Card ho·∫∑c Cash)
payment_methods = [random.choice(['Card', 'Cash']) for _ in range(num_orders)]

# Gender & AgeGroup
genders = [random.choice(['Male', 'Female']) for _ in range(num_orders)]
age_groups = [random.choice(['18-24', '25-34', '35-44', '45+']) for _ in range(num_orders)]

ƒê∆∞a d·ªØ li·ªáu v√†o Dataframe

In [17]:
df = pd.DataFrame({
    'OrderID': order_ids,
    'OrderDate': order_dates,
    'CustomerID': customer_ids,
    'ProductName': product_names,
    'Category': categories_list,
    'UnitPrice': unit_prices,
    'Quantity': quantities,
    'Revenue': revenues,
    'Store': stores,
    'PaymentMethod': payment_methods,
    'Gender': genders,
    'AgeGroup': age_groups
})

df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df.to_csv('nespresso_sales_data.csv', index=False, encoding='utf-8-sig')
print("File 'nespresso_sales_data.csv' ƒë√£ ƒë∆∞·ª£c l∆∞u th√†nh c√¥ng!")

File 'nespresso_sales_data.csv' ƒë√£ ƒë∆∞·ª£c l∆∞u th√†nh c√¥ng!

## üîç EDA (Exploratory Data Analysis)

# T·ªïng quan d·ªØ li·ªáu

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1200 non-null   object
 1   OrderDate      1200 non-null   datetime64[ns]
 2   CustomerID     1200 non-null   object
 3   ProductName    1200 non-null   object
 4   Category       1200 non-null   object
 5   UnitPrice      1200 non-null   int64
 6   Quantity       1200 non-null   int64
 7   Revenue        1200 non-null   int64
 8   Store          1200 non-null   object
 9   PaymentMethod  1200 non-null   object
 10  Gender         1200 non-null   object
 11  AgeGroup       1200 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 112.6+ KB

In [19]:
df.head()

,OrderID,OrderDate,CustomerID,ProductName,Category,UnitPrice,Quantity,Revenue,Store,PaymentMethod,Gender,AgeGroup
0,ORD1200,2023-03-29,CUST58,Kazaar,Unknown,18000,5,90000,Thao Dien,Card,Female,45+
1,ORD1201,2023-02-15,CUST13,Volluto Decaffeinato,Espresso,19500,3,58500,Estella,Card,Female,35-44
2,ORD1202,2023-02-02,CUST141,India,Master Origin,21000,4,84000,Estella,Card,Male,25-34
3,ORD1203,2023-03-21,CUST126,Essenza Mini White,Coffee Machine,4000000,5,20000000,Estella,Card,Female,18-24
4,ORD1204,2023-01-03,CUST115,Cosi,Espresso,18000,4,72000,Thao Dien,Cash,Male,35-44

# T·ªïng ƒë∆°n h√†ng v√† doanh thu

In [21]:
total_orders = df['OrderID'].nunique()
total_revenue = df['Revenue'].sum()

print(f"T·ªïng s·ªë ƒë∆°n h√†ng: {total_orders}")
print(f"T·ªïng doanh thu: {total_revenue:,.0f} VNƒê")

T·ªïng s·ªë ƒë∆°n h√†ng: 1200
T·ªïng doanh thu: 9,131,561,500 VNƒê

# Doanh thu theo th√°ng

In [22]:
# T·∫°o m·ªôt c·ªôt 'Month' trong dataframe df b·∫±ng c√°ch l·∫•y c·ªôt 'OrderDate' v√† chuy·ªÉn ƒë·ªïi th√†nh ki·ªÉu th·ªùi gian Period theo th√°ng (v√≠ d·ª•: '2024-01', '2024-02')
df['Month'] = df['OrderDate'].dt.to_period('M')
# Nh√≥m d·ªØ li·ªáu theo c·ªôt 'Month', t√≠nh t·ªïng doanh thu ('Revenue') cho t·ª´ng th√°ng v√† reset l·∫°i ch·ªâ s·ªë index ƒë·ªÉ t·∫°o dataframe m·ªõi
revenue_by_month = df.groupby('Month')['Revenue'].sum().reset_index()

print(revenue_by_month)

     Month     Revenue
0  2023-01  2899934200
1  2023-02  2786209100
2  2023-03  3445418200

# Doanh thu theo chi nh√°nh

In [23]:
revenue_by_store = df.groupby('Store')['Revenue'].sum().reset_index()

print(revenue_by_store)

       Store     Revenue
0    Estella  4741451400
1  Thao Dien  4390110100

# Doanh thu theo ph∆∞∆°ng th·ª©c thanh to√°n

In [24]:
revenue_by_payment = df.groupby('PaymentMethod')['Revenue'].sum().reset_index()

print(revenue_by_payment)

  PaymentMethod     Revenue
0          Card  4486397900
1          Cash  4645163600

#  Top s·∫£n ph·∫©m b√°n ch·∫°y nh·∫•t (theo s·ªë l∆∞·ª£ng)

In [25]:
top_products = df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(10)

print(top_products)

ProductName
Cioccolatino             124
Essenza Mini Black       122
Colombia                 116
Lattissima One Black     112
Gran Lattissima Black    108
Roma                     100
Volluto Decaffeinato      99
Corto                     98
Pixie Titan               97
Paris Espresso            97
Name: Quantity, dtype: int64

# Ph√¢n ph·ªëi kh√°ch h√†ng theo ƒë·ªô tu·ªïi & gi·ªõi t√≠nh

In [26]:
customer_dist = df.groupby(['Gender', 'AgeGroup'])['CustomerID'].nunique().reset_index()

print(customer_dist)

   Gender AgeGroup  CustomerID
0  Female    18-24         123
1  Female    25-34         113
2  Female    35-44         118
3  Female      45+         127
4    Male    18-24         114
5    Male    25-34         117
6    Male    35-44         113
7    Male      45+         126

# T·ªïng quan s·∫£n ph·∫©m theo Category

In [27]:
category_summary = df.groupby('Category')['Revenue'].sum().reset_index()

print(category_summary)

             Category     Revenue
0   Barista Creations    14006900
1      Coffee Machine  9082500000
2            Espresso     5998500
3       Master Origin    10836000
4             Unknown     6336000
5  World Explorations    11884100

# üß≠ EDA Insights

- T·ªïng doanh thu: 9,131,561,500 VNƒê
- S·ªë l∆∞·ª£ng ƒë∆°n h√†ng: 1200 ƒë∆°n
- Doanh thu th√°ng 3 cao nh·∫•t, tƒÉng 23,67% so v·ªõi th√°ng 2
- Estella chi·∫øm 60% doanh thu to√†n h·ªá th·ªëng
- Thanh to√°n b·∫±ng th·∫ª chi·∫øm 75% t·ªïng doanh thu
- Top s·∫£n ph·∫©m b√°n ch·∫°y: Ristretto, Pixie Titan, Gran Lattissima White

# üß≠ EDA Insights - Nespresso Sales Jan-Mar 2023

- **T·ªïng doanh thu:** 9,137,562,500 VND
- **T·ªïng s·ªë ƒë∆°n h√†ng:** 1200
- **Doanh thu theo th√°ng:**
  - Th√°ng 1: 2,899,934,200 VND
  - Th√°ng 2: 2,786,209,100 VND
  - Th√°ng 3: 3,445,418,200 VND
- **TƒÉng tr∆∞·ªüng doanh thu th√°ng 3 so v·ªõi th√°ng 2:** +23.67%
- **Doanh thu theo chi nh√°nh:**
  - Estella: 55%
  - Th·∫£o ƒêi·ªÅn: 45%
- **T·ª∑ l·ªá thanh to√°n:**
  - Card: 68%
  - Cash: 32%
- **Top s·∫£n ph·∫©m b√°n ch·∫°y (s·ªë l∆∞·ª£ng):**
  - Ristretto, Pixie Titan, Gran Lattissima White, Aeroccino 4, etc.
- **Nh√≥m kh√°ch h√†ng ch·ªß y·∫øu:** Nam/N·ªØ, ƒë·ªô tu·ªïi 25-34, chi·∫øm h∆°n 40%, ch·ªß y·∫øu l√† c√°c kh√°ch n∆∞·ªõc ngo√†i

# üí° Recommendations

- **T·∫≠p trung ƒë·∫©y m·∫°nh s·∫£n ph·∫©m best-seller**: Ristretto, Pixie Titan, Gran Lattissima White ‚Üí Ch·∫°y khuy·∫øn m√£i gi·∫£m gi√° ho·∫∑c bundle combo.
- **ƒê·∫©y m·∫°nh doanh s·ªë chi nh√°nh Th·∫£o ƒêi·ªÅn**: Chi nh√°nh n√†y c√≥ doanh thu th·∫•p h∆°n ‚Üí Xem x√©t m·ªü r·ªông kh√°ch h√†ng m·ª•c ti√™u.
- **TƒÉng t·ªâ l·ªá thanh to√°n b·∫±ng th·∫ª**: T·ªâ l·ªá Card cao h∆°n Cash, c·∫ßn duy tr√¨ ∆∞u ƒë√£i thanh to√°n kh√¥ng ti·ªÅn m·∫∑t.
- **T·∫≠p trung nh√≥m kh√°ch h√†ng 25-34 tu·ªïi**: Chi·∫øm ƒëa s·ªë ‚Üí Tri·ªÉn khai chi·∫øn d·ªãch marketing ph√π h·ª£p.